422 Unprocessed entity error on login pages

FYI - Just did a clean install of osTicket and after that, login pages went straight to a "422 Unprocessed entity" error without being able to login and without throwing an apache or PHP error.

I deleted the following and everything is OK:

'// Browsers shouldn't suggest saving that username/password
Http::response(422);'

I too have this issue. Commenting gets rid of the issue, but does somehow add other issues on our end (though this may easily be related to 1.11)

@riddlenl @Syphere 

I cannot replicate this issue with a fresh install or an upgraded install.

What are your osTicket details? (Admin Panel > Dashboard > Information)

Where did you get the download and when? Github, our website, some random third party? Yesterday, last week, etc.?

How are you authenticating? osTicket Username+Password, LDAP plugin, SSO plugin, some custom authentication?

What are you using to login? Username, email? What exactly is it? Letters + Numbers, just numbers, just letters, etc.?

Cheers.

We had this issue also but we are deleted Http::response(422) and that fixed it

**What are your osTicket details? (Admin Panel > Dashboard > Information)**

osTicket Version | v1.11 (d4e240b)     —  Up to date
-- | --
Web Server Software | Apache/2
MySQL Version | 10.3.12
PHP Version | 7.0.33


**Where did you get the download and when? Github, our website, some random third party? Yesterday, last week, etc.?**
Last week from website

**How are you authenticating? osTicket Username+Password, LDAP plugin, SSO plugin, some custom authentication?**
osTicket Username+Password

**What are you using to login? Username, email? What exactly is it? Letters + Numbers, just numbers, just letters, etc**.?
Letters + Numbers

@jmurn 

Okay, did you fix the file permissions/ownership once you uploaded the new files to the server? We have an issue with the download on the site where the permissions are lost on packaging.

All you need to do is `chmod 0644` all files recursively, `chmod 0775` all folders recursively, and `chown` all files/folders to the Apache User/Group recursively. Once you run these three commands you may restart Apache and retest.

Like I said, I cannot replicate this issue using almost the exact same setup as you all. I tested this on both of my v1.11 installs:

**Install 1**
- osTicket v1.11
- PHP v7.2
- NGINX
- MariaDB

**Install 2**
- osTicket v1.11
- PHP v5.6
- Apache
- MariaDB

Cheers.

@JediKev 
**What are your osTicket details? (Admin Panel > Dashboard > Information)**

osTicket Version | v1.11 (7b1eee8) —  Up to date
Web Server Software | Apache/2
MySQL Version | 10.0.37
PHP Version | 7.2.14


**Where did you get the download and when? Github, our website, some random third party? Yesterday, last week, etc.?**
From github a few days after 1.11 official release. However, this problem was also occurring on our previous 1.10 installation since a few weeks.

**How are you authenticating? osTicket Username+Password, LDAP plugin, SSO plugin, some custom authentication?**
Simple osTicket Username+Password.

**What are you using to login? Username, email? What exactly is it? Letters + Numbers, just numbers, just letters, etc**.?
Letters on usernames. numbers and letters on passwords.

The error always shows up whenever a login.php gets called up. both agent pages and client pages.
At this moment in time, clients attempting to login get this error (as we commented the line responsible in /scp/login.php)

@Syphere 

Wow, yea, I cannot reproduce this at all with _any_ of my installs. I have many, _many_ v1.10 installs and two v1.11 installs and I cannot replicate this issue with any of them.

Cheers.

@JediKev 

I also have not succeeded in reproducing this issue as I'm not capable of setting up a full blown server with the required modules, but I did come close to maybe find out what the cause is. It started happening after our hosting company did an update on our server with DirectAdmin/Custombuild, and according to the logs they have, php-fpm was one of the things updated at that time.

Maybe that is something to look into? I can give the specifics on what we're running with what settings, if that is needed :)

@Syphere 

>Maybe that is something to look into?

Nah, I'm running PHP-FPM on my NGINX + osTicket install and cannot reproduce this error.

Cheers.

Yeh, we are using DirectAdmin too. So maybe it's something with server configuration...

@jmurn 

Okay, so, reading the code it appears as though we always throw 422 upon first arrival. This is so that Browsers do not suggest saving the username/password.
```
// Browsers shouldn't suggest saving that username/password
Http::response(422);
```

Most browsers should ignore this and continue loading everything else (ie. the login template).
```
define("OSTSCPINC",TRUE); //Make includes happy!
include_once(INCLUDE_DIR.'staff/login.tpl.php');
```

It appears your browser/server/something is not continuing after the 422 which causes the template to not appear. I tested this with Chrome, Firefox and Safari and they all work just fine. Are you receiving any errors via the webserver error logs, php error logs, browser console error logs, or osTicket system logs?

Cheers.

Yeah, i'm also using DirectAdmin with PHP-FPM 5.6

There doesn't appear to be any logs specifically about this in the apache log while I was checking into this

Hey,
I wanted to connect to the topic, I have fresh new installations here 1.11, [http://bok.famfara.pl/](http://bok.famfara.pl/)
The server is:
Apache 2.4.27
DirectAdmin 1.55.0
MariaDB 5.5.46
Php 5.6.31 and/or Php 7.1.24

after installing the site to log in to the account or scp does not work.
[SCP](http://bok.famfara.pl/scp/login.php)
[Login](http://bok.famfara.pl/login.php)

> Hey,
> I wanted to connect to the topic, I have fresh new installations here 1.11, http://bok.famfara.pl/
> The server is:
> Apache 2.4.27
> DirectAdmin 1.55.0
> MariaDB 5.5.46
> Php 5.6.31 and/or Php 7.1.24
> 
> after installing the site to log in to the account or scp does not work.
> [SCP](http://bok.famfara.pl/scp/login.php)
> [Login](http://bok.famfara.pl/login.php)

Update - 03.03.2019
Ttoday I found the topic https://github.com/osTicket/osTicket/issues/3507

in the /scp/login.php file commented on line 107 Http :: response (422);
I saved uploaded on the server and works.

except that I do not know what the described error is caused and what should be done / reported for the installation to work properly after installation.


@kostek1

It’s weird because all of my setups continue after the response. Both NGINX and Apache work fine for me. I wonder why you guy’s build of Apache doesn’t continue?

I assume you have Apache’s rewrite module installed/enabled correct? Also, are you running SELinux by chance? If so, have you tried disabling to test?

Cheers.

@JediKev 
For me, mod_rewrite is installed and enabled. SELinux is disabled according to getenforce.

@Syphere 

I'm dumbfounded...I have no idea why mine works across all platforms and yours does not. I'm thinking at this point it's an Apache/NGINX config or server config issue. I literally do nothing special with Apache on my test VMs, just install and go (obviously different scenario with production but it works in production as well). I even have SELinux enabled and it still works just fine. I have many different setups/configurations of Apache/NGINX installed on many different OS (CentOS/Ubuntu/IIS) and all work for me.

You see absolutely no related errors in _any_ logs on the server?

Cheers.

@JediKev There are no errors to be found anywhere. That's the weirdest part of it all... All we figured out is that it happened after a bi-weekly updating of the server software.

Another osticket newbie reporting in.
Got this 422 error after clean install.
Spent four hours to figure out that **login page for admin users is located on /scp/**



Another newbie here, running on IIS.
Installed osTicket remotely from my desktop, after the install I couldn't access any of the login screens remotely.
I could access them from a browser session on the server.
I worked around it by setting up windows authentication to our domain logins by enabling Windows Authentication and setting a Authorization Rule in the IIS manager.
Now when i login from my desktop with my windows credentials it works fine.

Hi. This is really breaking my brain. We have a server that has been just fine running OsTicket for years now (3 independent installs on different domains, but same server).

Since today (01/10/2020) ,  with absolutely no changes to the code or PHP configuration, we are get this exact 422 error. I am a PHP dev and will try to do some debugging to see whats going on here but as pointed out, this line of code is deliberately called in login.php ans scp/login.php. Here is the link to the production website that is currently producing this error:

*** http://support.plumbitonline.co.za/osTicket/login.php ***

Here is a link to a PHP info page:
http://support.plumbitonline.co.za/osTicket/info.php

Has anyone got any ideas? I can remove the line of code but I'm not entirely sure why it is there in the first place. 



I can well believe the 422 response code may cause a problem with custom error pages, which may be what the original report was about, though I'm failing to duplicate this.  (If I understand the Apache documentation correctly, an `ErrorDocument 422 422.html` directive *ought* to break osTickets's login page.)

Regardless of exactly what was happening for the original bug report, can I request this 422 code is removed?  I have tested simply commenting out these lines in `scp/login.php`:
```php
// Browsers shouldn't suggest saving that username/password
Http::response(422);
```
Removing this causes osTickets to issue a 200 response instead, and I've checked the login workflow continues to work correctly in v1.17.3.

Issuing a 422 response here is contrary to HTTP specification.  [§15.5.21](https://httpwg.org/specs/rfc9110.html#rfc.section.15.5.21) of RFC 9110 (the current HTTP Sematics standard) defines a 422 response code as indicating:

> … that the server understands the content type of the request content … and the syntax of the request content is correct, but it was unable to process the contained instructions.

That's not the case here as osTickets has processed the request for a login page.  More generally, §15.5 says:

> The 4xx (Client Error) class of status code indicates that the client seems to have erred

Again, that's not the case, and although I'm not able to find an example, I can well believe a HTTP client or proxy may flag the 422 response as an error in some way.  Possibly that is what the original reporter was seeing.

Moreover, this use of a 422 fails to achieve the stated goal of telling browsers not to store the login credentials.  I've tested in Chrome and Firefox.  In Chrome, for whatever reason, it seems not to store credentials on this page regardless of whether it's served with a 200 or a 422, while Firefox stores the credentials regardless of the status.  Is this perhaps some weird behaviour that Internet Explorer had and has been left in the code long beyond the browser's demise?

Finally, even if the 422 error code did achieve the stated goal of preventing the credentials from being stored, this is a *bad thing*.  osTickets is a ticketing system, not some ultra-secure system like a bank.  Best practice for website password management is to choose a different random password for each site and store it in an encrypted password manager, such as the ones in most modern browsers.  Deliberately making it difficult for users to do this reduces security.  Please don't do this.

@ras52 

I reviewed the code, ran some tests, and I believe you are correct. Here is the pull request that removes the code:
- https://github.com/osTicket/osTicket/pull/6542

If anyone can please test this and give us any feedback it'd be appreciated.

Cheers.

Awesome.  Thank you very much!